<div>
  <h1 class="font-bold text-4xl">Let's buy some tickets!</h1>
  <%= turbo_frame_tag("select-movie") do %>
    <div id="select-movie">
      <%= form_tag(url_for(action: "showtimes"), method: :post ) do %>
        <%= select_tag "movie_id", options_from_collection_for_select(@movies, "id", "name"), prompt: "Select a movie", onchange: "Turbo.navigator.submitForm(this.form)"%>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag("select-showtime") do %>
    No showtimes to display...
  <% end %>

  <%= turbo_frame_tag("select-tickets") do %>
  <% end %>

  <ul>
    <%= turbo_frame_tag("selected-tickets") do %>
    <% end %>
  </ul>
</div>
