<%= turbo_stream.update "tickets-for-showtime" do %>
  <div class="grid grid-cols-5 gap-4">
    <% @tickets.each do |ticket| %>
      <% if ticket.available? %>
        <%= render "select_ticket_link", ticket: ticket %>
      <% elsif ticket.claimed_pending_payment? && ticket.customer == @current_customer %>
        <%= render "deselect_ticket_link", ticket: ticket %>
      <% else %>
        <%= render "unavailable_ticket", ticket: ticket %>
      <% end %>
    <% end %>
  </div>

  <%= render "legend" %>
<% end %>
